# dependencies
/node_modules

# Expo
/.expo/
/dist/
/web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.aab
*.apk
*.ipa

# Metro
.metro/
.happypack/
.haste_cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/

# Android/IntelliJ
/.idea
.gradle
/local.properties

# fastlane
/fastlane/report.xml
/fastlane/Preview.html
/fastlane/screenshots

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Jest
/coverage